i {
    font-size: 50px;
  }
  
  .fa-facebook {
    color: #3b5998;
  }
  
  .fa-youtube-square {
    color: #ff0000;
  }
  
  .fa-instagram-square {
    color: #e1306c;
  }
  
  .fa-github-square {
    color: #c9510c;
  }
  
  .fa-money-bill-alt {
    color: #28c101;
  }