h1{
    color: orangered;
    font-weight: bolder;
    font-family: Arial, Helventica, sans-serif;
}
h2{
    color: rgb(49, 49, 179);
    font-weight: bolder;
}
p{
    color:green;
    font-style: italic;
    font-weight: hold;
}
hr{
    background-color:rgb(35, 6, 68);
    height: 20px;
}