.contenedor{
    background-color: blue;
}
.cabecera{
    background-color: blueviolet;
}
.menu{
    background-color: chartreuse;
}
.contenido{
    background-color: chocolate;
}
.pie{
    background-color: cornflowerblue;
}
body{
    background-color: darkgray;
}
.parrafoimagen{
    background-image: url("/img/images.jpg");
}
.parrafotransparencia{
    background-color: black;
    opacity: 75%;
    color: whitesmoke;
}
.parrafoimagenrepetir {
    background-image: url("/img/html5ycss3.png");
}
.parrafoimagennorepetir{
    background-image: url("/img/html5ycss3.png");
    background-repeat: no-repeat;
}
.parrafoimagentamaño{
    background-image: url(/img/html5ycss3.png);
    background-size: 30px;
}
.parrafoimagenrepetirhorizontal{
    background-image: url(/img/html5ycss3.png);
    background-repeat: repeat-x;
    background-size: 30px;
}
.parrafoimagenrepetirvertical{
    background-image: url(/img/html5ycss3.png);
    background-repeat: repeat-y;
    background-size: 30px;
}
.parrafoimagencentral{
    background-image: url(/img/html5ycss3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.parrafoimagenizquierda{
    background-image: url(/img/html5ycss3.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}
.parrafoimagenderecha{
    background-image: url(/img/html5ycss3.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 30px;
}
.parrafoimagensuperior{
    background-image: url(/img/html5ycss3.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 30px;
}
.parrafoimageninferior{
    background-image: url(/img/html5ycss3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 30px;
}
.parrafoimagensuperiorderecha{
    background-image: url(/img/html5ycss3.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 30px;
}
.parrafoimageninferiorizquierda{
    background-image: url(/img/html5ycss3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 30px;
}
.parrafoimagenfondo{
    background-image: url(/img/images.jpg), url(/img/html5ycss3.png);
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: 80px, 150px;
}